@{          
    ViewBag.Title = "Index";
}

<div class="resources-template">
    <ul class="content-list-1 list-unstyled">
        <li>
            <div class="box1">
                <h4>PATIENT RESOURCES</h4>
                <p><span class="pink">Vanity Cosmetic Surgery</span> seeks to inform and empower patients allowing them to take control of their cosmetic core</p>    
            </div>
            <div class="box2">
                <div class="img-wrapper img-wrapper-reader"></div>
            </div>
        </li>
        <li>
            <div class="box1">
                <h4>VIDEOS</h4>
                <p>Some videos to help you <span class="pink">prepare </span>and <span class="pink">recover</span></p>
            </div>
            <div class="box2">
                <div class="img-wrapper img-wrapper-camera"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumb_wrapper">
                        <img src="content/images/sample-img-5.png"/>
                        <a href="#" class="button"><span class="glyphicon glyphicon-play"></span></a>
                    </div>
                    <p>How to <span class="pink">prepare</span> for your own surgery</p>
                </div>
                <div class="col-md-4">
                    <div class="thumb_wrapper">
                        <img src="content/images/sample-img-5.png"/>
                        <a href="#" class="button"><span class="glyphicon glyphicon-play"></span></a>
                    </div>
                    <p>What to expect on your <span class="pink">surgery day</span></p>
                </div>
                <div class="col-md-4">
                    <div class="thumb_wrapper">
                        <img src="content/images/sample-img-5.png"/>
                        <a href="#" class="button"><span class="glyphicon glyphicon-play"></span></a>
                    </div>
                    <p>Post surgery tips for a better <span class="pink">recovery</span></p>
                </div>
            </div>
        </li>
        <li>
            <div class="box1">
                <h4>ARTICLES</h4>
                <small>Helpful reading for <span class="pink">pre </span>and <span class="pink">post </span>surgery</small>
            </div>
            <div class="box2">
                <div class="img-wrapper img-wrapper-articles"></div>
            </div>
            
            <ul class="articles-list list-unstyled">
                <li><span class="glyphicon glyphicon-ok"></span>How to <span class="pink">prepare</span> for your cosmetic prucedure</li>
                <li><span class="glyphicon glyphicon-ok"></span>Items you may want to consider for a better <span class="pink">recovery</span></li>
                <li><span class="glyphicon glyphicon-ok"></span>Some <span class="pink">post-surgery </span>recovery tips</li>
            </ul>
        </li>
    </ul>
</div>

