@{
    ViewBag.Title = "Index";
}

<div class="contact-template">
    <div class="content-box">
        <div class="box1">
            <h4>WE'RE HERE FOR YOU</h4>
            <p><span class="pink">1.800.340.4095</span> office hours M-F 9-5 EST</p>
        </div>  
        <div class="box2">
            <div class="img-wrapper img-wrapper-telephone"></div>
        </div>
    </div>
    <div class="content-box">
        <div class="box1">
            <h4>MESSAGES</h4>
        </div>
        <div class="box2">
            <div class="img-wrapper img-wrapper-envelope"></div>
        </div>
        <ul class="content-list-1 list-unstyled">
            <li><span class="pink">(2)</span>INBOX</li>
            <li><span class="pink">(1)</span>IMPORTANT</li>
        </ul>
    </div>
    <div class="coordinator-box">
        <h4><span class="pink">STAY IN CONTACT</span> WITH OUR VANITY PATIENT COORDINATOR</h4>
        <img src="content/images/arrow-pink.png" class="hidden-xs"/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.
        </p>
    </div>

</div>
