@{
    ViewBag.Title = "Index";
}

<div class="appointments-template">
    <div class="box1">
        <h4>YOU HAVE <span class="pink">(14)</span> SCHEDULED APPOINTMENTS</h4>
    </div>
    <div class="box2">
        <div class="img-wrapper img-wrapper-clock"></div>
    </div>
    <ul class="content-list-1 list-unstyled">
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
        <li>
            <span class="pink">5-11-2014</span>Blood Labs - Scheduled
        </li>
    </ul>
</div>
